.astrodiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  left: 100%;
  top: 180px;
  transform: translate(-50%, -50%);
  width: 100px;
}

.astropic {
  height: 50px;
}

.frame {
  height: 150px;
  position: relative;
  left: 50%;
  top: 130px;
  transform: translate(-50%, -50%);
}

.drawdiv {
  position: relative;
  height: 25svh;
  width: 105px;
  margin-bottom: var(--margin-l);
}

.dancing {
  position: absolute;
  left: -220px;
}

@media (max-width: 900px) {
  .dancing {
    height: 220px;
    left: -170px;
  }
}
